.button {
    display: inline-block;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.25s background ease, .25s color ease; 
    font-size: 1.125rem;
    line-height: 34px;
    letter-spacing: 0.025em;
}

.button:hover,
.button:focus {
    background: none;
    color: var(--accent-color);
    outline: none;
}