.nav__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    padding: 35px 25px;
    text-transform: uppercase;
    transition: 0.25s background ease, .25s color ease; 
}

.nav__link:hover {
    background: var(--accent-color);
}

.nav__link:active {
    color: var(--dark-color);
}
